# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Compilados y distribuciones
dist/
build/
*.zip

# TypeScript
*.tsbuildinfo

# Entornos locales
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/crash.log

# Archivos temporales
*.tmp
*.swp
*.swo

# Logs
logs/
*.log

# Cache
.cache/
